.account-wraper-open {
    float: right;
    width: 86%;
    text-align: center;
    animation-duration: 2s;
    animation-name: slideoutaccount;
  }
  .account-wraper-close {
    float: right;
    width: 97%;
    text-align: center;
    animation-duration: 2s;
    animation-name: slideinaccount;
  }
  .account-wraper {
      text-align: center;
      margin-top: 100px;
  }
  .submit {
    width: 25%;
    height: 45px;
    border: none;
    border-radius: 26px;
    background-color: blueviolet;
    margin-top: 30px;
  }
  @keyframes slideinaccount {
    from {
      width: 86%; 
    }
  
    to {
      width: 97%;
    }
  }
  /*@keyframes slideoutaccount {
    from {
      width: 94%; 
    }
  
    to {
      width: 80%;
    }
  }*/
  