body{
  font-family: cursive;
}
.home-wraper-open {
    float: right;
    width: 86%;
    text-align: center;
  }
  .home-wraper-close {
    float: right;
    width: 97%;
    text-align: center;
  }
  .home-wraper-close {
    animation-duration: 2s;
    animation-name: slideinHome;
  }
  .title {
    text-align: center;
  }

  .card img {
    width: 200px;
    height: 140px
  }
  .card {
    text-align: center;
    margin: 5%;
  }
  .card p {
    font-family: cursive
  }
  .card-wraper {
    display: flex;
    text-align: center;
    margin-left: 10%;
  }
  @keyframes slideinHome {
    from {
      width: 86%; 
    }
  
    to {
      width: 97%;
    }
  }
 