.login-wraper-open {
    float: right;
    width: 86%;
    text-align: center;
    margin-top: 100px;
    animation-duration: 2s;
    animation-name: slideoutLog;
  }
  .login-wraper-close {
    float: right;
    width: 97%;
    text-align: center;
    margin-top: 100px;
    animation-duration: 2s;
    animation-name: slideinLog;

  }
  .login-wraper {
    flex-direction: column;
    text-align: center;
  }
  .login {
    border-top: none;
    border-right: none ;
    border-left: none;
    width: 50%;
    margin-top: 25px;
  }
  ::-webkit-input-placeholder {
    text-align: center;
 }
  @keyframes slideinLog {
    from {
      width: 86%; 
    }
  
    to {
      width: 97%;
    }
  }
  /*@keyframes slideoutLog {
    from {
      width: 94%; 
    }
  
    to {
      width: 80%;
    }
  }*/
  