

.flip-card-true {
    background-color: transparent;
    margin: 1px 3px ;
    animation-name: slideinSetting;
    transform: rotateY(180deg);
    transition: transform 1s;
    transform-style: preserve-3d;

    }
.flip-card-true img {
    width: 220px;
    height: 100px;

}
.flip-card-false {
    background-color: transparent;
    margin: 1px 3px ;
    transition: transform 1s;
    transform-style: preserve-3d;


}
.flip-card-false img {
    width: 220px;
    height: 100px;
}
.card-wrap {
    display: flex;
    flex-wrap: wrap;
}
.card-wrap h3 {
    float: right;
}

.done {
    width: 220px;
    height: 100px;
    background-color: white;
}
  
  