.quiz-wraper-open {
    float: right;
    width: 86%;
  }
  .quiz-wraper-close {
    float: right;
    width: 97%;
  }
  .quiz-wraper-close {
    animation-duration: 2s;
    animation-name: slideinQuiz;
  }
  .questions-wraper {
    text-align: center;
    margin: 0px 17%;
    height: 435px;
  }
  .question {
    height: 15%;
    border-bottom: 1px solid black;
  }

  .question h4 {
    margin-top: 20px;
  }
  .answers  {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    height: 59%;
  }
  .answer {
    margin: 12px 14%;
    height: 40px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid blueviolet

  }
  .questions-number {
    float: left;
    position: absolute;
  }
  .score-wraper {
    text-align: center;
  }
  .result li {
    list-style-type: none;
  }
  .score-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .score-footer h3 {
    font-size: 25px;
  }
  @keyframes slideinQuiz{
    from {
      width: 86%; 
    }
  
    to {
      width: 97%;
    }
  }
  