.quiz-wraper-open {
    float: right;
    width: 80%;
  }
  .quiz-wraper-close {
    float: right;
    width: 94%;
  }
  .quiz-wraper-close {
    animation-duration: 2s;
    animation-name: slideinQuiz;
  }
  .questions-wraper {
    text-align: center;
    margin: 0px 17%;
    height: 435px;
  }
  .question {
    height: 15%;
    border-bottom: 1px solid black;
  }

  .question h4 {
    margin-top: 20px;
  }
  .answers  {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    height: 59%;
  }
  .answer {
    margin: 12px 14%;
    height: 40px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid blueviolet

  }
  .questions-number {
    float: left;
    position: absolute;
  }
  @keyframes slideinQuiz{
    from {
      width: 80%; 
    }
  
    to {
      width: 94%;
    }
  }
  