.threeInRow-wraper-open {
    float: right;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
  .threeInRow-wraper-close {
    float: right;
    width: 94%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
  .threeInRow-wraper-close {
    animation-duration: 2s;
    animation-name: slideinSetting;
  }
  .three-in-row-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 65%;
      justify-content: center
  }
  .three-in-row {
      margin: 1%;
      background-color: antiquewhite;
      width: 25%;
      height: 150px;
      -webkit-box-shadow: 1px -4px 15px -3px rgba(113,48,173,1);
      -moz-box-shadow: 1px -4px 15px -3px rgba(113,48,173,1);
      box-shadow: 1px -4px 15px -3px rgba(113,48,173,1);
    
  }
  .img{
    width: 25%;
    height: 150px;
    margin: 1%;
  }
  .active {
      color: blue;
  }
  .color-selection-wrapper {
      text-align: center;
  }
  .img-wrapper {

    display: flex;
    justify-content: center
  }
  .img-wrapper img {
      border: 2px solid blueviolet;
      margin: 0 5px;
      width: 150px;
      height: 150px;
  }
  @keyframes slideinSetting {
    from {
      width: 80%; 
    }
  
    to {
      width: 94%;
    }
  }
  