.threeInRow-wraper-open {
    float: right;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
  .threeInRow-wraper-close {
    float: right;
    width: 94%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
  .threeInRow-wraper-close {
    animation-duration: 2s;
    animation-name: slideinSetting;
  }
  .three-in-row-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 65%;
      justify-content: center
  }
  .three-in-row {
      margin: 1%;
      background-color: antiquewhite;
      width: 25%;
      height: 150px;
    
  }
  @keyframes slideinSetting {
    from {
      width: 80%; 
    }
  
    to {
      width: 94%;
    }
  }
  