.threeInRow-wraper-open {
    float: right;
    width: 80%;
  }
  .threeInRow-wraper-close {
    float: right;
    width: 94%;
  }
  .threeInRow-wraper-close {
    animation-duration: 2s;
    animation-name: slideinSetting;
  }
  .three-in-row-wrapper {
      display: flex;
      flex-wrap: wrap;
  }
  .three-in-row {
      margin: 1%;
      background-color: antiquewhite;
    
  }
  @keyframes slideinSetting {
    from {
      width: 80%; 
    }
  
    to {
      width: 94%;
    }
  }
  